version: 2.1


orbs:
  shellcheck: circleci/shellcheck@3.1.1


workflows:
  scripts:
    jobs:
      - shellcheck/check:
          matrix:
            parameters:
              dir:
                - scripts/
            alias: shellcheck
          exclude: SC2148
          filters:
            branches:
              ignore: master
